<div class="brand-container">
  <h2 class="mainpage-layout-title text-center mb-4">TOP THƯƠNG HIỆU NỔI BẬT</h2>
<div tabindex="0" class="slider" style="
            --width: 220px;
            --height: 220px;
            --quantity: 14;
            --duration: 20s;
        ">
  <ul class="list">
    <li class="item" *ngFor="let brand of brands; let i = index" [style.--position]="i + 1">
      <a
        [routerLink]="['/catalog']"
        [queryParams]="{ brand: brand.name }"
        class="brand-link"
      >
        <img
          [src]="brand.logoUrl || ''"
          [alt]="brand.name"
          (error)="onImageError($event)"
        />
      </a>
    </li>


  </ul>
</div>
</div>
