
<swiper-container
  class="beautySwiper"
  speed="900"
  effect="slide"
  direction="horizontal"
  loop="true"
  navigation="true"
  pagination="true"
  pagination-clickable="true"
  mousewheel="false"
  autoplay="true"
  autoplay-delay="5000"
  autoplay-disable-on-interaction="false"
  autoplay-pause-on-mouse-enter="false"
>
  <!-- Slide 1 -->
  <swiper-slide >
    <div class="slide-layout">

      <!-- Text Left -->
      <div class="text-box">
        <!-- <h2 class="title" >DISCOVER YOUR INNER BEAUTY</h2> -->
        <h2 class="title1">BEAUTY INSIDER COMMUNITY</h2>
        <p class="subtitle">NƠI CHIA SẺ ĐAM MÊ </p>
        <p class="description">Học hỏi, chia sẻ và cùng nhau tỏa sáng!</p>
        <button class="btn">
          <svg height="24" width="24" fill="#FFFFFF" viewBox="0 0 24 24" data-name="Layer 1" id="Layer_1" class="sparkle">
            <path d="M10,21.236,6.755,14.745.264,11.5,6.755,8.255,10,1.764l3.245,6.491L19.736,11.5l-6.491,3.245ZM18,21l1.5,3L21,21l3-1.5L21,18l-1.5-3L18,18l-3,1.5ZM19.333,4.667,20.5,7l1.167-2.333L24,3.5,21.667,2.333,20.5,0,19.333,2.333,17,3.5Z"></path>
          </svg>
          <span class="text">Khám phá ngay</span>
        </button>

      </div>

      <!-- Image Right -->
      <div class="image-box">
        <img src="assets/images/banner/all-product.png" alt="community">
      </div>

      <!-- Background color -->
      <div class="bg-color"></div>
    </div>
  </swiper-slide>


  <!-- Slide 2 -->
     <!-- Slide 1 -->
  <swiper-slide >
    <div class="slide-layout">

      <!-- Text Left -->
      <div class="text-box">
        <!-- <h2 class="title" >DISCOVER YOUR INNER BEAUTY</h2> -->
        <h2 class="title1">BEST SELLER</h2>
        <p class="subtitle">SẢN PHẨM VỚI LƯỢT MUA KHỔNG LỒ!</p>
        <p class="description">Hàng ngàn lượt mua mỗi ngày – Nhanh tay đặt hàng ngay</p>
        <button class="btn">
          <svg height="24" width="24" fill="#FFFFFF" viewBox="0 0 24 24" data-name="Layer 1" id="Layer_1" class="sparkle">
            <path d="M10,21.236,6.755,14.745.264,11.5,6.755,8.255,10,1.764l3.245,6.491L19.736,11.5l-6.491,3.245ZM18,21l1.5,3L21,21l3-1.5L21,18l-1.5-3L18,18l-3,1.5ZM19.333,4.667,20.5,7l1.167-2.333L24,3.5,21.667,2.333,20.5,0,19.333,2.333,17,3.5Z"></path>
          </svg>
          <span class="text">Khám phá ngay</span>
        </button>

      </div>

      <!-- Image Right -->
      <div class="image-box">
        <img src="assets/images/banner/bestseller.png" alt="bestseller">
      </div>

      <!-- Background color -->
      <div class="bg-color"></div>
    </div>
  </swiper-slide>


  <!-- Slide 3 -->
    <!-- Slide 1 -->
  <swiper-slide >
    <div class="slide-layout">

      <!-- Text Left -->
      <div class="text-box">
        <!-- <h2 class="title" >DISCOVER YOUR INNER BEAUTY</h2> -->
        <h2 class="title1"> HIGH-QUALITY BRANDS</h2>
        <p class="subtitle">KHÁM PHÁ HÀNG NGÀN THƯƠNG HIỆU CÙNG KANILA</p>
        <p class="description">Kanila hợp tác với những thương hiệu nổi tiếng, mang đến sản phẩm chất lượng cho khách hàng</p>
        <button class="btn">
          <svg height="24" width="24" fill="#FFFFFF" viewBox="0 0 24 24" data-name="Layer 1" id="Layer_1" class="sparkle">
            <path d="M10,21.236,6.755,14.745.264,11.5,6.755,8.255,10,1.764l3.245,6.491L19.736,11.5l-6.491,3.245ZM18,21l1.5,3L21,21l3-1.5L21,18l-1.5-3L18,18l-3,1.5ZM19.333,4.667,20.5,7l1.167-2.333L24,3.5,21.667,2.333,20.5,0,19.333,2.333,17,3.5Z"></path>
          </svg>
          <span class="text">Khám phá ngay</span>
        </button>

      </div>

      <!-- Image Right -->
      <div class="image-box">
        <img src="assets/images/banner/brand.png" alt="brand">
      </div>

      <!-- Background color -->
      <div class="bg-color"></div>
    </div>
  </swiper-slide>



  <!-- Slide 3 -->
     <!-- Slide 1 -->
  <swiper-slide >
    <div class="slide-layout">

      <!-- Text Left -->
      <div class="text-box">
        <!-- <h2 class="title" >DISCOVER YOUR INNER BEAUTY</h2> -->
        <h2 class="title1">KANILA COSMESTIC</h2>
        <p class="subtitle"> CHÍNH SÁCH VÀ QUYỀN LỢI HẤP DẪN </p>
        <p class="description">Cùng với chất lượng sản phẩm, Kanila cũng luôn đề cao cảm nhận và trải nghiệm của khách hàng!</p>
        <button class="btn">
          <svg height="24" width="24" fill="#FFFFFF" viewBox="0 0 24 24" data-name="Layer 1" id="Layer_1" class="sparkle">
            <path d="M10,21.236,6.755,14.745.264,11.5,6.755,8.255,10,1.764l3.245,6.491L19.736,11.5l-6.491,3.245ZM18,21l1.5,3L21,21l3-1.5L21,18l-1.5-3L18,18l-3,1.5ZM19.333,4.667,20.5,7l1.167-2.333L24,3.5,21.667,2.333,20.5,0,19.333,2.333,17,3.5Z"></path>
          </svg>
          <span class="text">Khám phá ngay</span>
        </button>

      </div>

      <!-- Image Right -->
      <div class="image-box">
        <img src="assets/images/banner/community.png" alt="product">
      </div>

      <!-- Background color -->
      <div class="bg-color"></div>
    </div>
  </swiper-slide>



  <!-- Slide 4 -->
     <!-- Slide 1 -->
  <swiper-slide >
    <div class="slide-layout">

      <!-- Text Left -->
      <div class="text-box">
        <!-- <h2 class="title" >DISCOVER YOUR INNER BEAUTY</h2> -->
        <h2 class="title1">DEAL HOT</h2>
        <p class="subtitle">HÀNG NGÀN DEAL HỜI ĐANG CHỜ BẠN </p>
        <p class="description">Hàng loạt Deal Hot lần lượt được tung ra, mua hàng lời gấp mấy lần!</p>
        <button class="btn">
          <svg height="24" width="24" fill="#FFFFFF" viewBox="0 0 24 24" data-name="Layer 1" id="Layer_1" class="sparkle">
            <path d="M10,21.236,6.755,14.745.264,11.5,6.755,8.255,10,1.764l3.245,6.491L19.736,11.5l-6.491,3.245ZM18,21l1.5,3L21,21l3-1.5L21,18l-1.5-3L18,18l-3,1.5ZM19.333,4.667,20.5,7l1.167-2.333L24,3.5,21.667,2.333,20.5,0,19.333,2.333,17,3.5Z"></path>
          </svg>
          <span class="text">Khám phá ngay</span>
        </button>

      </div>

      <!-- Image Right -->
      <div class="image-box">
        <img src="assets/images/banner/deal.png" alt="deal">
      </div>

      <!-- Background color -->
      <div class="bg-color"></div>
    </div>
  </swiper-slide>


  <!-- Slide 5 -->
     <!-- Slide 1 -->
  <swiper-slide >
    <div class="slide-layout">

      <!-- Text Left -->
      <div class="text-box">
        <!-- <h2 class="title" >DISCOVER YOUR INNER BEAUTY</h2> -->
        <h2 class="title1">SET QUÀ</h2>
        <p class="subtitle">NHỮNG MÓN QUÀ XINH XẮN</p>
        <p class="description">Lo ngại không biết nên kết hợp những loại sản phẩm nào với nhau, đừng lo đã có những Set quà ở đây!</p>
        <button class="btn">
          <svg height="24" width="24" fill="#FFFFFF" viewBox="0 0 24 24" data-name="Layer 1" id="Layer_1" class="sparkle">
            <path d="M10,21.236,6.755,14.745.264,11.5,6.755,8.255,10,1.764l3.245,6.491L19.736,11.5l-6.491,3.245ZM18,21l1.5,3L21,21l3-1.5L21,18l-1.5-3L18,18l-3,1.5ZM19.333,4.667,20.5,7l1.167-2.333L24,3.5,21.667,2.333,20.5,0,19.333,2.333,17,3.5Z"></path>
          </svg>
          <span class="text">Khám phá ngay</span>
        </button>

      </div>

      <!-- Image Right -->
      <div class="image-box">
        <img src="assets/images/banner/gift_box.png" alt="product">
      </div>

      <!-- Background color -->
      <div class="bg-color"></div>
    </div>
  </swiper-slide>

  <!-- Slide 6 -->
     <swiper-slide >
    <div class="slide-layout">

      <!-- Text Left -->
      <div class="text-box">
        <!-- <h2 class="title" >DISCOVER YOUR INNER BEAUTY</h2> -->
        <h2 class="title1">SẢN PHẨM MỚI</h2>
        <p class="subtitle">HÀNG VỀ HÀNG VỀ, NHANH TAY RINH NÈ</p>
        <p class="description">Những dòng sản phẩm mới vừa ra mắt, hứa hẹn mang đến công dụng bùng nổ!</p>
        <button class="btn">
          <svg height="24" width="24" fill="#FFFFFF" viewBox="0 0 24 24" data-name="Layer 1" id="Layer_1" class="sparkle">
            <path d="M10,21.236,6.755,14.745.264,11.5,6.755,8.255,10,1.764l3.245,6.491L19.736,11.5l-6.491,3.245ZM18,21l1.5,3L21,21l3-1.5L21,18l-1.5-3L18,18l-3,1.5ZM19.333,4.667,20.5,7l1.167-2.333L24,3.5,21.667,2.333,20.5,0,19.333,2.333,17,3.5Z"></path>
          </svg>
          <span class="text">Khám phá ngay</span>
        </button>

      </div>

      <!-- Image Right -->
      <div class="image-box">
        <img src="assets/images/banner/new_product.png" alt="new_product">
      </div>

      <!-- Background color -->
      <div class="bg-color"></div>
    </div>
      </swiper-slide>






</swiper-container>


