.auth-page-wrapper {
    background: url('/assets/images/signup_bg.png') ;
    background-size: cover;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 20px 15%;
    color: var(--kanila-text);
}

  .auth-card {
    background-color: var(--kanila-bg);
    border-radius: 30px;
    padding: 3rem;
    width: 100%;
    max-width: 500px; 
    box-shadow: 0px 20px 40px var(--kanila-red);
    border: 1px solid var(--kanila-pink);
  }
  
  .form-control {
    height: 55px;
    border-radius: 12px;
    border: 1px solid #eee;
    padding: 0 1.25rem;
    font-weight: 600;
    color: var(--kanila-text);
    transition: all 0.3s;
  }
  
  .form-control:focus {
    border-color: var(--kanila-pink);
    box-shadow: 0 0 10px var(--kanila-red);
  }
  
  .input-error {
    border: 2px solid color(srgb rgb(255, 0, 0) ) !important;
    background-color: #fff0f0 !important;
  }
  
  .text-danger-kanila {
    color: var(--kanila-red);
    font-weight: 700;
    font-size: 0.9rem;
  }
  
  .btn-social {
    height: 55px;
    border-radius: 12px;
    background: white;
    border: none;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
        color: var(--kanila-text);

  }
  
  .btn-social:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
  }

  .btn-kanila {
    background-color: var(--kanila-pink) !important;
    color: white !important;
    border: none;
    border-radius: 12px;
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275); 
    position: relative;
  }
  

  .btn-kanila:hover {
    transform: translateY(-2px); 
    box-shadow: 0 0 10px var(--kanila-red);
  }
  
  .btn-kanila:active {
    transform: translateY(4px); 
    box-shadow: 0 0 10px var(--kanila-red);
  }