<div class="auth-page-wrapper">
    <div class="auth-card">
      
      <div *ngIf="step === 1">
        <h4 class="text-center fw-bold mb-3" style="color: var(--kanila-red)">Quên Mật Khẩu</h4>
        <p class="h6 text-center text-muted mb-4">Nhập email để nhận mã xác thực đặt lại mật khẩu</p>
        <div class="mb-4">
          <input type="email" [(ngModel)]="email" placeholder="Email của bạn" class="form-control" [class.input-error]="emailNotFound">
          <small class="text-danger-kanila" *ngIf="emailNotFound">Email chưa được đăng ký, vui lòng kiểm tra lại</small>
        </div>
        <button class="btn btn-kanila w-100 mb-3 py-2 fw-bold" style="height: 50px; font-size: 1rem; background-color: var(--kanila-pink)" (click)="sendEmail()">GỬI</button>
      </div>
  
      <div *ngIf="step === 2" class="text-center">
        <h4 class="fw-bold mb-3" style="color: var(--kanila-red)">MÃ XÁC THỰC</h4>
        <p class="h6 text-muted mb-4">Nhập mã xác thực đã gửi đến email của bạn</p>
        <div class="mb-4">
            <input type="text" [(ngModel)]="otp" (ngModelChange)="onOtpChange()"
                   class="form-control text-center fs-3 fw-bold" style="letter-spacing: 8px;"
                   [class.input-error]="otpError" 
                   [class.input-success]="otpSuccess" 
                   placeholder="______">
            <small class="text-danger-kanila d-block mt-2" *ngIf="otpError">Mã xác thực sai. Vui lòng nhập lại</small>
          </div>
        <p class="h6 mb-4">Chưa nhận được mail? <span class="h6 text-end mb-3" style="color: var(--kanila-red)" (click)="reload()">Gửi lại</span></p>
        <button class="btn btn-kanila w-100 mb-3 py-2 fw-bold" style="height: 50px; font-size: 1rem; background-color: var(--kanila-pink)" (click)="verifyOtp()">TIẾP THEO</button>
      </div>
  
      <div *ngIf="step === 3">
        <h4 class="text-center fw-bold mb-4" style="color: var(--kanila-red)">Lấy Lại Mật Khẩu</h4>
        <div class="mb-3">
          <input type="password" [(ngModel)]="newPass" placeholder="Mật khẩu mới(*)" class="form-control">
          <small class="text-danger-kanila" *ngIf="newPass && newPass.length < 8">Mật khẩu yêu cầu tối thiểu 8 ký tự!</small>
        </div>
        <div class="mb-4">
          <input type="password" [(ngModel)]="confirmPass" (ngModelChange)="onConfirmChange()"
                 placeholder="Nhập lại mật khẩu mới(*)" class="form-control"
                 [class.input-error]="isMismatch">
          <small class="text-danger-kanila" *ngIf="isMismatch">Mật khẩu không khớp!</small>
        </div>
        <button class="btn btn-kanila w-100 mb-3 py-2 fw-bold" style="height: 50px; font-size: 1rem; background-color: var(--kanila-pink)" (click)="submitReset()">GỬI</button>
      </div>
  
    </div>
  </div>