<ng-container *ngIf="shouldShowSection">
  <div class="reco-block">
    <h3>Recently Viewed</h3>

    <div class="reco-scroll" *ngIf="loading">
      <div class="pdp-reco-card-host" *ngFor="let _ of [0,1,2,3,4,5,6,7]">
        <div class="pdp-skeleton-card"></div>
      </div>
    </div>

    <div class="reco-scroll" *ngIf="!loading && !hasError && products.length > 0">
      <app-product-card
        class="pdp-reco-card-host"
        *ngFor="let p of products; trackBy: trackById"
        [product]="p"
      ></app-product-card>
    </div>

    <div class="text-muted" style="margin-top: 10px; font-weight: 600;" *ngIf="!loading && hasError">
      Could not load recently viewed products.
    </div>
  </div>
</ng-container>

